.active {
    text-transform: uppercase;
    text-decoration: underline;
}

.navbar .nav-item .nav-link:hover{
    text-decoration: underline;
    text-transform: uppercase;
}

#navbar {
    z-index: 1 !important;

    padding-bottom: 100px;
    border-bottom-left-radius: 120px;
    border-bottom-right-radius: 120px;
}

table {
    z-index: 3 !important;
    margin-left: 160px;
    margin-top: -80px;
}

table {
    background-color: white !important;
    color: black;
}
